.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9fafb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid #ccc;
  }
  
  
  .task-item:hover {
    background-color: #e5e7eb;
    transform: scale(1.02);
  }
  
  
  .task-item.clicked {
    background-color: #d1fae5; 
  }

  .task-item.completed {
    background-color: #e6ffed;
    text-decoration: line-through;
    color: #6b7280;
  }
  

  .task-text {
    flex-grow: 1;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    color: #333;
  }
  

  .icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  .pending-icon {
    color: red;
  }
  
  .completed-icon {
    color: green;
  }

  .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: transform 0.2s ease;
  }
  
  .delete-btn:hover {
    transform: scale(1.1); 
  }
  
  .delete-icon {
    color: #000;
  }
  